@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset {
    border: 2px solid #f2998a;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 25px;
    transition: border-color 0.3s;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 20px;
}

.subLegend{
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    font-size: 16px;
}

[type=file] {
    border-radius: 5;
    border-width: 10;
    font-size: unset;
    line-height: inherit;
    padding: 0;
}

hr{
    border-color: #f2998a;
}

.border {
    border-width: 2px;
}